[Unit]
Description=AIXY2.0 StartUP
DefaultDependencies=no
After=network-online.target
Wants=network-online.target
Before=multi-user.target aixy.service

[Service]
User=root
Type=oneshot
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/aixy-startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target