[Unit]
Description=AiXY 2.0 Service
After=network-online.target pipewire.service
Wants=network-online.target

[Service]
Type=simple
User=root
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
ExecStart=/opt/AiXY2.0/scripts/run.sh
Restart=on-failure
RestartSec=5
StandardOutput=append:/opt/AiXY2.0/logs/run.log
StandardError=append:/opt/AiXY2.0/logs/run.log

[Install]
WantedBy=multi-user.target
